<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
<connectionStrings><add name="DataBaseEntities" connectionString="metadata=res://*/DataBase.DataBase.csdl|res://*/DataBase.DataBase.ssdl|res://*/DataBase.DataBase.msl;provider=System.Data.SqlClient;provider connection string='data source=DESKTOP-RBGC3NG\SQLEXPRESS;initial catalog=&quot;Электронный журнал&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" /></connectionStrings></configuration>